@mainColor: #263238;
@accentColor: #37474F;
@lightAccentColor: #B0BEC5;
@lightGrayColor: #D5D9DC;
@lighBlueColor: #1591FE;
@mainBackgroundColor: #FFFFFF;
@headerFontColor: #FFFFFF;
@buttonActiveColor: #FFFFFF;
