@import 'const.less';

.container {
    text-align: left;
    margin: 0 auto;
    width: @documentDefaultWidth;
    max-width: @documentMaxDefaultWidth;
}

.navigation {
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__header {
        margin: @navigationHeaderMargin;
        padding: 0;
    }

    &__item {
        margin: @navigationItemMargin;
    }

    &__divider {
        margin: @navigationDividerMargin;
        border-bottom: @navigationDividerWidth solid @navigationDividerColor;
    }
}

.navigation-inline {
    .navigation__list {
        display: flex;
        flex: 1;
    }
    .navigation__item {
        flex: 1 1 auto;
        justify-content: streach;
    }
}

.page {
    &__main {
        width: 100%;
    }

    &__navigation {
        width: 100%;
    }
}

.panel {
    padding: @panelPadding;
    border: @panelBorderWidth @panelBorderType @lightGrayColor;
    border-radius: @panelBorderRadius;
}

.button {
    box-sizing: border-box;
    padding: @buttonPadding;
    border-radius: @buttonBorderRadius;
    font-size: @buttonFontSize;

    &__default {
        color: @buttonDefaultFontColor;
        border: @buttonBorderWidth @buttonBorderType @buttonDefaultBorderColor;
        background-color: @buttonDefaultBackgruondColor;
    }

    &__active {
        color: @buttonActiveFontColor;
        background-color: @buttonActiveBackgruondColor;
    }
}
